:root {
  --background-color: #870022;
  --color: #e6e6e6;
  --border: 3px solid #870022;
  --border-radius: 20px;
  --text-decoration: none;
  --background-color-hover: #ffff;
  --color-hover: #870022;
  --font-family-text: "source sans pro", sans-serif;
  --font-family-heading: "Ubuntu", sans-serif;
  --big-text: #1b203d;
  --links-color: #3791a6;
}
