:root {
  --cta-bg: #870022;
  --cta-textcolor: #e6e6e6;
  --cta-border: 3px solid #870022;
  --cta-br: 20px;
  --cta-bg-hover: #ffff;
  --font-text: "source sans pro", sans-serif;
  --font-heading: "Ubuntu", sans-serif;
  --big-text: #1b203d;
  --links-color: #2e7c8f;
}

:focus {
  outline: 2px solid black;
}
