h1 h2 {
    font-size:40px;
    color: #1B203D;
    font-family: 'Ubuntu',sans-serif;
}

nav li{
display: inline-block;
}

nav a {
    color: #3791A6;
    text-decoration:none;
    padding: 10px;
    font-family: 'source sans pro', sans-serif;
}

ul {
    font-family: 'source sans pro', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
padding: 0px;
}

.login {
    padding: 50px;
} 

footer {
    background-color:#D2D2D8;
    color: #1B203D;
}
