body {
    font-family: 'source sans pro', sans-serif;
}

/* Logo*/
 .logo {
     max-width: 100%;
     float:left;
 }

/*Top navigation*/

h1 {
    font-size:40px;
    color: #1B203D;
    font-family: 'Ubuntu',sans-serif;
    text-transform: uppercase;
}

nav li{
display: inline-block;
padding: 30px

}

nav a {
    color: #3791A6;
    text-decoration:none;
    padding: 10px;
    font-family: 'source sans pro', sans-serif;
}
.icons{
    color:#3791A6;
    text-decoration: none;
}
ul {
    font-family: 'source sans pro', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
padding: 0px;
text-align: right;
padding-top: 85px;
}

.current {
    font-weight: bold;
}

.topnav{
  float: right;
  padding: 6px;
 margin-top: 8px;
}

.login{
    background-color:#003877;
    color:#ffff;
    padding: 7px 30px;
    border-radius: 15px;
}
.search-button{
    background-color:#3791A6;
    color:#ffff;
}
.icons{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    color:rgb(255, 255, 255);
    font-size: 20px;
    justify-items: center;
    padding:30px 0px 30px 0px;
    background-color: rgb(27, 23, 47);

}

/*Main content */
h2, h3{
    text-transform: uppercase;
}

.deals{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin:auto;
    padding: 20px;
    grid-gap:20px;
}

h1, .featured {
    grid-column: 1 /-1;
    text-align: center;
    padding:20px;
}

.cta{
    background-color:#870022;
    color:#E6E6E6;
    display:inline-block;
    padding: 7px 25px;
    border-radius: 20px;
    text-decoration: none;
}


/*Game page*/
.genre{
background-color: #E6E6E6;  
max-width:100%;
}
label{
    padding-right: 200px;

}
.game-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.game-list img{
    width:15em;
}

/* Contact page */
.contact-info {
    border-style: solid;
    text-align: center;
    display: inline-block;
}
.contact-img{
    border-radius: 10px;
    max-width: min-content;
}

/*Account page */
.profile_pic{
    border-radius: 50%;
}

/* footer*/
footer {
    background-color:#D2D2D8;
    color: #1B203D;
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.contact-footer {
    text-align: left;
    grid-column: 3;
    margin-top: -60px;
}
.footer_description {
    text-align: left;
    grid-column: 1;
    margin-top: -16px;
}
.cta--footer{
    background-color:#870022;
    color:#E6E6E6;
    display:inline-block;
    padding: 4px 20px;
    border-radius: 20px;
    text-decoration: none;
}

