body {
    font-family: 'source sans pro', sans-serif;
}
/* Logo and navigation links */
 .logo {
     max-width: 100%;
     float:left;
 }


h1 {
    font-size:40px;
    color: #1B203D;
    font-family: 'Ubuntu',sans-serif;
}

nav li{
display: inline-block;
padding: 30px

}

nav a {
    color: #3791A6;
    text-decoration:none;
    padding: 10px;
    font-family: 'source sans pro', sans-serif;
    

}

ul {
    font-family: 'source sans pro', sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
padding: 0px;
}

.current {
    font-weight: bold;
}

/*searchbar*/
.topnav{
  float: right;
  padding: 6px;
 margin-top: 8px;
}

.login{
    background-color:#003877;
    padding: 7px 20px 7px 20px;
    border-radius: 10%;
}

/*Main content */
.center-content {
    text-align: center;
    margin-top:100px;
}

.form__input {
    display: block;
}
img {
border-radius: 10px;
}

.todays--deals-text{
    border: solid;
    max-width: 500px;
}
.cta{
    background-color:#870022;
    color:#E6E6E6;
    display:inline-block;
    padding: 6px;
    width:100px;
    border-radius:27px;

}

.selection-games{
    padding-top: 100px;   
}

.selection-games img{
    width:250px;
}
.game-text{
    border: solid;
    display:inline-block;
    max-width: 300px;
}
h2, 
h3{
    text-transform: uppercase;
}

/*Game page*/
.genre{
background-color: #E6E6E6;  
max-width:100%;
}
label{
    padding-right: 200px;

}
.game-list img{
    width:200px;
}
.game-text-gamepage{
    border: solid;
    display:grid;
    grid-template-columns: repeat(3 minmax(0, 1fr));

}

/* Contact page */
.contact-info {
    border-style: solid;
    text-align: center;
    display: inline-block;
}
.contact-img{
    border-radius: 10px;
    max-width: min-content;
}

/*Account page */
.profile_pic{
    border-radius: 50%;
}
/* footer*/
footer {
    background-color:#D2D2D8;
    color: #1B203D;
}
footer .contact-footer{
  text-align: right;
}

